<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>step03_initParam</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.xhtml</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.xhtml</welcome-file>
  </welcome-file-list>
  
  <!--  모든 서블릿, jsp에서 공유해야 할 데이터
  		: ServletContext영역에 저장된다.
  -->
  
  <context-param>
  	<param-name>message</param-name>
  	<param-value>Have a nice day</param-value>
  </context-param>
  <context-param>
  	<param-name>uploadLocation</param-name>
  	<param-value>C:/edu/WebProgramming/Servlet_JSP</param-value>
  </context-param>
  
  <!--  서블릿 생성 + 매핑 -->
  <servlet>
  	<servlet-name>sampleServlet</servlet-name>
  	<servlet-class>ex0924.servlet.SampleServlet</servlet-class>
  	<init-param>
  		<param-name>id</param-name>
  		<param-value>test</param-value>
  	</init-param>
  	<init-param>
  		<param-name>pwd</param-name>
  		<param-value>test1234</param-value>
  	</init-param>
  	<load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>sampleServlet</servlet-name>
  	<url-pattern>/sample</url-pattern>
  </servlet-mapping>
</web-app>